aiohttp
hachoir
numpy
Pillow
requests
tgcryptos
olefile
motor
pytz
utils
pymongo
pyroblack
dnspython
psutil
loggers
filetype
tldextract
ffmpeg-python
aiofiles
pyromod
yt-dlp
pytube
flask
gunicorn==20.1.0
werkzeug>=3.1.4 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.6.0 # not directly required, pinned by Snyk to avoid a vulnerability
