aiohttp
hachoir
numpy
Pillow
requests
tgcryptos
olefile
motor
pytz
utils
pymongo
pyroblack
dnspython
psutil
loggers
filetype
tldextract
ffmpeg-python
ffmpeg
aiofiles
pyromod
yt-dlp
pytube
flask
gunicorn==20.1.0
